body {
  background-color: #ffcbdb;
  text-align: center;
}

h1 {
  color: #000000;
  font-family: "Karantina", cursive;
  font-size: 50px;
  margin-top: 10px;
}

h2 {
  font-family: "Arial", sans-serif;
  margin-bottom: 0px;
  color: #000;
}

p {
  color: #000;
  font-family: "Arial", sans-serif;
  margin-top: 0px;
}

.campo {
  text-align: center;
  margin-bottom: 5px;
}

.resp {
  font-family: "Cairo", sans-serif;
  font-size: 22px;
  font-weight: 700;
}